/* Global */
/* Main Styling */
html {
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	color: white;
}

body {
	background-color: #222222;
}

.header,
.userlist,
.id-1 {
	background-color: #3c474d;
}

.chat,
.message-input {
	color: black;
	font-size: 12px;
}
/*  */

/* Grid Layout Start */
.grid-container {
	display: grid;
	grid-template-columns: 20% 1fr;
	grid-template-rows: 15% 500px 100px;
  	gap: 0px 0px;
	grid-template-areas:
		"header header"
		"userlist chat"
		"id-1 message-input";
}

/* Core Layout */
.header {
	display: grid;
	grid-template-columns: 20% 1fr 1fr;
	grid-template-areas:
		"header-corner header-left header-right";
	grid-area: header;
}


.userlist { grid-area: userlist; }
.chat { grid-area: chat; }
.id-1 { grid-area: id-1; }
.message-input { grid-area: message-input; }
/*  */


/* Border */
.header,
.header-corner,
.userlist,
.chat,
.message-input,
.message-input,
.id-1 {
	border-color: dodgerblue;
}

/* Top */
.header,
.chat,
.message-input {
	border-top-style: solid;
}
/* .userlist { border-top-style: dotted; } */

/* Right */
.header,
.userlist,
.chat,
.message-input,
.id-1 {
	border-right-style: solid;
}

/* Bottom */
.id-1,
.message-input {
	border-bottom-style: solid;
}

/* Left */
.header,
.userlist,
.id-1 {
	border-left-style: solid;
}
/*  */


/* Header */
.header-left {
	text-align: left;
	padding-left: 3%;
	font-size: large;
}

.header-right {
	text-align: right;
	padding: 15px;
}
/*  */


/* Menu Button */
.header-corner { padding: 10px; }

.userlist-toggle {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
}

.userlist-toggle input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider,
.slider:before {
	position: absolute;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider {
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: crimson;
}

.slider:before {
	content: "";
	height: 40px;
	width: 25px;
	left: 5px;
	bottom: 5px;
	background-color: white;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(15px);
	-ms-transform: translateX(15px);
	transform: translateX(15px);
}
/*  */


/* User Info */
/*  */


/* Userlist */
.userlist {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	padding-top: 15px;
	gap: 10px 0px;
}

.userlist > div {
	border-color: orange;
	border-style: dotted;

	padding: 5px;
	margin: 5px;
}
/*  */


/* Message Input */
.message-input {
	padding: 10px;
}
