/* Global */
html {
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	color: #fff;
}

body {
	background-color: #222222;
}


/* Grid Layout Start */
.grid-container {
	display: grid;
	grid-template-columns: 20% 1fr 1fr;
  	grid-template-rows: 10% 1fr 15%;
  	gap: 0px 0px;
  	grid-auto-flow: row;
}


/* Core Layout */
.corner { grid-area: 1 / 1 / 2 / 2; }
.header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-area: 1 / 2 / 2 / 4;
	gap: 0px 0px;
}
.userlist { grid-area: 2 / 1 / 4 / 2; }
.input { grid-area: 3 / 1 / 4 / 4; }
.chat {  display: grid;
	grid-template-columns: 15% 1fr 1fr 15%;
	gap: 0px 0px;
	grid-area: 2 / 2 / 3 / 4;
}


/* Border */
.header,
.corner,
.userlist {
	background-color: #3c474d;
}


/* Corner */
.corner-toggle-menu {
	/* position: relative; */
	display: flex;
	background-color: red;
	border: none;
}
.corner-toggle-menu:hover {
	background-color: white;
}
/* .corner-toggle-menu:after {} */
/* .corner-toggle-menu:active::after {} */


/* Header */
.header-left,
.header-right {
	border-style: dotted;
	border-radius: 5px;
	border-color: cyan;
}

.header-right {
	display: flex;
	/* align-items: center; */
	justify-content: right;
}

/* Side Panel */


/* Chat */
.chat,
.input {
	color: black;
	font-size: 20px;
}

.chat {
	background-color: #fff;
	padding: 20px 0;
}
